name: Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Oras
        uses: oras-project/setup-oras@v1

      - name: Test
        run: |
          make test
